html, body {
    margin: 0;
}

body {
    background-color: #EBA22F;
    font-family: "Inria Serif";
}

.nav {
    height: 43px;
    width: 236px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
}

.glass {
    background: linear-gradient(98.31deg, rgba(255, 255, 255, 0.4) 35.37%, rgba(255, 255, 255, 0.1) 71.26%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 13px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.nav-buttons {
    font-style: normal;
    display: inline-block;
    transition: transform 0s ease, font-style 0s ease;
}

.nav-buttons:hover {
    transform: skewX(-10deg);
    font-style: italic;
}

.minimize-button, .exit-button {
    background-color: #2F4239;
    border-radius: 5px;
    padding: 10px;
    color: #6A7871;
}